# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Dataset / Models / Submissions
OAI-KL/KneeXray
OAI-KL/models
OAI-KL/submission

OAI-KL/Grad CAM
OAI-KL/Ensemble Network Box Plot
OAI-KL/Final Result
OAI-KL/Score txt

OAI-KL/HealthHub FT

*.txt
*.pdf
.DS_Store
