# Byte-compiled / optimized / DLL files
OAI-KL/__pycache__
*.py[cod]

# Dataset / Models / Submissions
OAI-KL/KneeXray
OAI-KL/models
OAI-KL/submission
OAI-KL/Grad CAM
OAI-KL/Ensemble Network Box Plot
OAI-KL/Final Result

*.pdf